:root {
  --highlight-blue: rgb(126 163 220 / 80%);
  --stronger-blue:  rgba(184, 210, 250, 0.5);
  --soft-blue:      rgba(184, 210, 250, 0.4);
  --white-soft:     rgba(255, 255, 255, 0.3);
  --soft-text:      rgb(22, 31, 59);
}

@font-face {
  font-family: "Josefin Sans";
  font-weight: 200;
  src: url("./assets/JosefinSans-ExtraLight.ttf");
}

html {
  font-size: 16px;
  font-family: "Josefin Sans", "Roboto", sans-serif;
  height: 100%;
}

.background-img {
  top: 0;
  left: 0;
  object-fit: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -100;
  overflow: hidden;
}

/* BODY & HEADER */
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

main {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

article {
  flex: auto;
}

header {
  flex: 0 0 auto;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

nav {
  font-weight: 300;
  margin: auto;
  padding: 0 1rem;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.4rem;
  border: none;
}

li {
  display: block;
  float: left;
  position: relative;
  transition: background 0.3s ease-in-out;
  margin: 0.4rem;
}
li:hover {
  background: var(--stronger-blue);
}
/* TODO */
li.current {
  border: 1px solid var(--stronger-blue);
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  padding: 0.2rem 0.5rem;
  display: block;
}
/* TODO */
a.current {
  background: var(--stronger-blue);
}

@media only screen and (min-width: 1100px) {
  body {
    flex-direction: row;
    justify-content: stretch;
  }

  header {
    flex: 1 0 20rem;
    padding-top: 5rem;
  }

  nav {
    width: 15rem;
    padding: 0;
    backdrop-filter: blur(5px);

      ul {
        flex-direction: column;
        margin: 0;
        border-top: 0.4rem solid var(--stronger-blue);
        border-bottom: 0.4rem solid var(--stronger-blue);
        background: var(--white-soft);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
      }
    
      li {
        margin: 0;
        background: none;
      }
    
      a {
        font-size: 1.6rem;
        padding: 0.8rem 1.5rem;
      }
  }
}

/* ACTIVE PAGE */
ul.active-index a[href="./"],
ul.active-books a[href="./books"],
ul.active-quotations a[href="./quotations"],
ul.active-projects a[href="./projects"],
ul.active-career a[href="./career"],
ul.active-blog a[href="./blog"] {
  border-left: 0.4rem solid var(--highlight-blue);
}

footer {
  flex: 0 1 auto;
  text-align: center;
  font-size: 0.85rem;
  padding: 1rem;
}

/* UTILITIES */
/* BACKGROUND COLORS */
.bg-white-soft {
  background-color: rgba(255, 255, 255, 0.3);
}
